:root {
  --radius: 12px;
  
  --cardColor: #ffffff;
  --borderColor: #e6ecf8;
  --shadowColor: #e9f0f380;

  --styledBorder: var(--borderTemplate) var(--borderColor);
  --styledShadow: 0 5px 5px 0 var(var(--shadowColor));

  --textAlign: center;
  font-size: 1.2em;
}

/*avatar centering*/
.avatar{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

/*change the pointer in front of the avatar image*/
.avatar img {
  cursor: pointer;
}

/*h1 centering */
h1 {
  font-size: calc(var(--gutter) * 2);
  text-align: center;
}

/*h2 centering */
h2 {
  font-size: calc(var(--gutter) * 1.5);
  color: #ffffff;
  text-align: center;
}

p {
  width: 100%;
  padding: 0 var(--gutter);
  text-align: center;
}

/*Deplace the menu in the end of header*/
ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: var(--gutter);
  width: 100%;
}

.desktop {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: calc(var(--gutter) * 4);
  margin-bottom: calc(var(--gutter) * -0.1);
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(var(--gutter) * 3);
  color: var(--light);
}

.description p{
  width: 60%;
  text-align: var(--textAlign);
}

/*Background pink*/
.pink-bg {
  background-color: var(--lightWildColor);
}

.skills {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: calc(var(--gutter) * -2);
  border-radius: var(--radius);
  padding: 5% 10%;
}

.skills--title {
  margin: calc(var(--gutter) * 1) 0;
  text-align: var(--textAlign);
}

.column {
  width: 100%;
  border: var(--styledBorder);
  background-color: var(--cardColor);
  padding: calc(var(--gutter) * 3.75) calc(var(--gutter)* 2.1875);
  border-radius: 1em 0em 1em 0em;
  text-align: var(--textAlign);
  box-shadow: 0.2em 0.1em 2em 0.1em rgb(196, 190, 156);
}

.column:first-of-type {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.column:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.column ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.pink-text {
  color: var(--lightWildColor);
}

body p {
  display: flex;
  justify-content: center;
}

.projects a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--purple);
}

.box img {
  height: 4rem;
}
.box p {
  height: 4em;
}
.box a {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 31%;
  padding: calc(var(--gutter) * 1);
  border: var(--styledBorder);
  margin: 1em 1em;
  border-radius: var(--radius);
  box-shadow: var(--styledShadow);
}

.purple-text {
  color: var(--purple);
}

@media (max-width: 700px) {
  .skills {
display: flex;
flex-direction: column-reverse;
  }
.desktop {
  display: none;
  }
  .boxes {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .box {
    width: 80%;
  }
}

#button {
  width: 15rem;
  height: 3rem;
  border-radius: 10px;
  background-color: var(--purple);
  cursor: pointer;
}

#button2 {
  width: 4.5rem;
  height: 1.5rem;
  border-radius: 10px;
  background-color: var(--purple);
  cursor: pointer;
}

#btn3 {
  width: 3rem;
  height: 1.5rem;
  border-radius: 0 10px 10px 0;
  background-color: var(--purple);
  color: #ffffff;
  font-size: 1em;
  cursor: pointer;
}

#form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1em;
}

.disabled {
 opacity:  0.3;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}

section .box {
  display: flex;
  justify-content: center;
}
